<html>

<head>
    <title>Paygate - Make a Transfer</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/inputValidation.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script>
        /*
        $(document).ready(function () {

            $('#btnSave').click(function () {
                if ($('#toAccountId').val().trim().length == 0) {
                    alert("Account Id is required.");
                    $('#toAccountId').focus();
                    return;
                }
                if ($('#amount').val().trim().length == 0) {
                    alert("Amount is required.");
                    $('#amount').focus();
                    return;
                }
                if (!confirm("Proceed to transfer the money?")) {
                    return;
                }

                console.log("amount: " + $('#amount').val());
                console.log("from: " + $('#fromAccountId').val());
                console.log("to: " + $('#toAccountId').val());

                $.ajax({
                    type: "POST",
                    url: "/transfer",
                    data: { "amount": $('#amount').val(), "sourceAccount": $('#fromAccountId').val(), "targetAccount": $('#toAccountId').val() }, // data to be submit
                    success: function (data) {
                        $('#result').text('Credit transfer submitted.');
                        console.log("data " + data);
                    },
                    error: function (err) {
                        $('#result').text('Error submitting request.');
                        //console.log("data " + data);
                    }
                });

                /*
                $.post('{{creditAPI_URL}}',   // url
                    { "amount": $('#amount').val(), "sourceAccount": $('#fromAccountId').val(), "targetAccount": $('#toAccountId').val() }, // data to be submit
                    function (data, status, jqXHR) {// success callback
                        $('#result').text('Transaction submitted. Transaction Id: ' + data.data._id);
                        $('#btnSave').attr("disabled", true);
                        $('#amount').attr("readonly", true);
                        $('#toAccountId').attr("readonly", true);
                        console.log("status " + status);
                        console.log("data " + data);
                    });

            });
        });

        */
    </script>
</head>

<body>
    {{displayTopMenuBar}}
    <H1>Make A Transfer</H1>
    <hr class="header-divider">
    <div class="page-desc">
        {{#ifEquals status 'ok'}}
        Credit Transfer submitted successfully.
        {{else}}
        Please enter the account number and amount to transfer.
        {{/ifEquals}} 
    </div>
    <form name="frmTransfer" method="post" action="javascript:submitTransfer()">
        <p>
            <div class="content-block">
                <div class="content-item-title">From Account: </div>
                <div class="content-item-value">
                {{#if sourceAccount}}
                    {{sourceAccount}}
                {{else}}
                    {{customer.accountId}}
                {{/if}}
                </div>
            </div>
            <div class="content-block">
                <div class="content-item-title">To Account: </div>
                <div class="content-item-value"><input type="text" name="toAccountId" {{#ifEquals status 'ok'}} readonly {{/ifEquals}} id="toAccountId" data-mandatory="true" value="{{targetAccount}}" size=30></div>
            </div>
            <div class="content-block">
                <div class="content-item-title">Amount: </div><div class="content-item-value"><input type="text" value="{{amount}}" name="amount" {{#ifEquals status 'ok'}} readonly {{/ifEquals}} id="amount" data-mandatory="true" size=25></div>
            </div>
        </p>
        {{#ifNotEquals status 'ok'}}
        <div class="content-block">
            <button class="button-submit">Submit</button>
            <input type="button" class="button" onclick="window.location.href='/';" value="Cancel">
        </div>
        {{/ifNotEquals}}
        {{#if sourceAccount}}
            <input type="hidden" value="{{sourceAccount}}" name="fromAccountId" id="fromAccountId">
        {{else}}
            <input type="hidden" value="{{customer.accountId}}" name="fromAccountId" id="fromAccountId">
        {{/if}}
    </form>
    
    {{#ifEquals status 'error'}}
        <div id="result" class="error">{{error}}</div>
    {{/ifEquals}}

    <!--

    <center>
        {{#ifEquals status 'error'}}
        <span id="result" style="color:red"></span>
        <br><br>
        {{/ifEquals}}
        
        {{#ifEquals status 'ok'}}
        <span id="result" style="color:darkgray">Credit Transfer submitted successfully.</span>
        <br><br>
        <table align=center cellspacing=5 cellpadding=5 border=0 width="450px">
            <tr>
                <td>
                    <table align=center cellspacing=5 cellpadding=5 border=0 width="100%">
                        <tr>
                            <td width="25%">Account Id:</td>
                            <td width="75%">
                                {{targetAccount}}
                            </td>
                        </tr>
                        <tr>
                            <td>Amount:</td>
                            <td width="75%">
                                {{amount}}
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align=right>
                    <input type="button" name="btnCancel" value="OK" onclick="window.location.href='/'">
                </td>
            </tr>
        </table>
        {{else}}
        Transfer money to the following account.
        <br><br>
        <form name="frmTransfer" method="post" action="javascript:submitTransfer()">
            <table align=center cellspacing=5 cellpadding=5 border=0 width="450px">
                <tr>
                    <td>
                        <table align=center cellspacing=5 cellpadding=5 border=0 width="100%">
                            <tr>
                                <td width="25%">Account Id:</td>
                                <td width="75%">
                                    <input type="text" name="toAccountId" id="toAccountId" data-mandatory="true"
                                        value="{{targetAccount}}" size=30>
                                </td>
                            </tr>
                            <tr>
                                <td>Amount:</td>
                                <td><input type="text" value="{{amount}}" name="amount" id="amount" data-mandatory="true" size=25></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align=right>
                        <button name="btnSubmit">Submit</button>
                        <input type="button" name="btnCancel" value="Cancel" onclick="window.location.href='/'">
                    </td>
                </tr>
            </table>
            {{#if sourceAccount}}
                <input type="hidden" value="{{sourceAccount}}" name="fromAccountId" id="fromAccountId">
            {{else}}
                <input type="hidden" value="{{customer.accountId}}" name="fromAccountId" id="fromAccountId">
            {{/if}}
        </form>
        {{/ifEquals}}
    </center>
    -->
    {{displayFooter}}
</body>

</html>